env
.DS_Store
.streamlit
.snowflake
db/*
dist/
ios/
android/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.egg-info/
*.egg
*.log
Golf.jpg
Timeline.png
BenBox.png
.vscode/settings.json
LLM_Image_Recognition.md
node_modules/
src/assets/IMG_0048.png
src/assets/IMG_0049.png
src/assets/AppIcon-512@2x.png
src/assets/BenBox_Logo.png
package.json
.angular/*
.vscode/settings.json
.conda/*
Export_Dateiliste.docx
Dateiablage.exe
Dateiablage.app
_internal/*
Dateiablage
docker.txt