streamlit
watchdog
anthropic
pillow
starlette
uvicorn
httpx
requests
pillow
fastmcp
dotenv
ollama
openai
mysql-connector-python
cryptography
snowflake  
snowflake-connector-python
snowflake-snowpark-python
snowflake[ml]
minio
langchain
langchain_community
langchain_core
black
build
PyMuPDF
tox
pypdf
