streamlit
watchdog
jsonref
openai
openai-agents
azure-ai-projects
azure-identity
mysql-connector-python
cryptography
snowflake  
snowflake-connector-python
snowflake-snowpark-python
snowflake[ml]
minio
langchain
langchain_community
langchain_core
black
build
PyMuPDF
tox
pypdf
