<div *ngIf="buttonsVisible" class="controls">
  <p></p><p></p>
  <button (click)="loadQuery(0)">Country Code Lookup</button>
  <button (click)="loadQuery(1)">Static Image</button>
  <button (click)="loadQuery(2)">Variable Image</button>
  <button (click)="loadQuery(3)">Review Code</button>
  <button (click)="loadQuery(4)">Image Recognition</button>
  <button (click)="loadQuery(5)">Navigator</button>
  <button (click)="loadQuery(6)">OpenAI Agents</button>
</div>
<iframe *ngIf="urlSafe" [src]="urlSafe" class="full-frame"></iframe>